*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #fff;
    --text-color: #333;
    --text-color-focus: white;
    --icon-nextjs-color: #000;
    --icon-express-color: #000;
    --head-color: black;
    --border-color: black;
    --bg-color-3: rgb(226, 226, 226);
}
[data-theme="dark"]{
    --bg-color: #000000;
    --text-color: #d3d1d1;
    --text-color-focus: black;
    --icon-nextjs-color: white;
    --icon-express-color: white;
    --head-color: white;
    --border-color: white;
    --bg-color-3: rgb(31, 31, 31);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}
body a{
    color: var(--text-color);
}
.theme-selector{
    position: fixed;
    top: 6px;
    right: 6px;
}